* {
    margin: 0;
    padding: 0;
}

.header__item {
    display: inline-block;

    margin-left: 225px;
    padding-top: 30px;
    margin-top: 40px;
}

.link__item {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: #FF0000;
    font-family: 'Montserrat', sans-serif;
    ;
}

.main__image {

    margin-top: 78px;
    width: 100%;
}

.main__title {
    margin-top: 48px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.main__text {
    display: inline-block;
    text-align: center;
    margin-top: 32px;
    font-family: 'Montserrat', sans-serif;
    line-height: 26px;
    letter-spacing: 2.4px;
    color: #746e6e;
    size: 8px;
}

.main__button-text {
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.button__link {
    display: inline-block;
    background-color: #FF0000;
    margin-left: 630.5px;
    margin-top: 300px;
    width: 191px;
    padding: 35px 40px 35px;
    border-radius: 4px;
    border: none;
}

.text__link {
    font-family: 'Montserrat' sans-serif;
    color: white;
    letter-spacing: 1.8px;
    text-align: center;
    white-space: nowrap;
}

.footer_copyright {
    margin-left: 790px;
    margin-top: 38px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}


